.footer_section {
  background-color: rgba(black, 0.8);
  padding-top: 64px;
  padding-bottom: 64px;
  color: rgba(white, 0.5);

  .upper_area {
    display: flex;
    justify-content: space-between;
    
    a {
      color: rgba(white, 0.3);
      margin-bottom: 16px;
      transition: 200ms;

      &:hover {
        color: white;
      }
    }    

    .area {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .heading {
        margin-bottom: 16px;      
        font-size: 1.2rem;
        color: white;
      }
    }

    button {
      font-family: inherit;
      border: none;
      border-radius: 36px;
      background-color: red;
      padding: 8px 28px;
      font-size: inherit; 
      color: white;
      transition: 300ms;

      &:hover {
        box-shadow: 2px 2px 8px rgba(black, 0.4);
      }
    }

    .about_area {
      @extend .area;

      width: 30%;
    }

    .social_icons_area {
      @extend .area;
      align-items: strech;
      
      .icons {
        display: flex;
        width: 100%;
        justify-content: space-between;        
      }
    }
  }

  .lower_area {
    margin-top: 64px;
    text-align: center;
  }
}