.features_section {
  padding-top: 128px;
  padding-bottom: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .heading {

  }

  .buttons {
    margin-top: 64px;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);

    .button {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .icon {
        font-size: 96px;
        color: red;
      }
  
      .name {
        // margin-top: 16px;
        font-size: 1.25rem;
      }
    }
  }  
}