.gallery_section {
  display: flex;
  flex-direction: column;
  padding-top: 128px;
  padding-bottom: 128px;
  align-items: center;

  .pictures {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .picture {
      width: 100%;
      height: 100%;
    }
  }
}