.about_us_section {
  display: grid;
  padding-top: 128px;
  padding-bottom: 128px;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;

  @media(max-width: 599px) {
    grid-template-columns: 1fr;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .text_area {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: auto;
    
    .content {
      margin-top: 32px;
      color: rgba(0, 0, 0, 0.5);
    }

    .link {            
      display: inline-flex;
      align-items: center;
    }    
  }
}