.event_carousel {
  width: 100%;
  margin-top: 64px;

  .arrow {
    border: none;
    background-color: transparent;    
  }

  .box {
    display: inline;
    width: 8px;
    height: 8px;
    background-color: black;
  }
}