.gallery_section {
  display: flex;
  flex-direction: column;
  padding-top: 128px;
  padding-bottom: 128px;
  align-items: center;

  .pictures {
    margin-top: 64px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    .picture {
      position: relative;
      width: 100%;
      height: 100%;
      transition: 500ms;

      &:hover::after {
        content: "";
        position: absolute;
        z-index: 3;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: rgba(white, 0.5);
      }
    }
  }
}