@use "sass:math";

.carousel {
  position: relative;
  margin-top: 64px;
  width: 100%;
  overflow: hidden;

  .items {
    position: relative;
    display: inline-flex;
    width: 100% * 2;
    transition: 300ms;
    
    .item {
      margin-right: 16px;      
      flex-grow: 1;
      background-color: lightgrey;
    }
  }

  .buttons {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    padding-left: 16px;
    padding-right: 16px;
    justify-content: space-between;
    align-items: center;
  }
}